@import "tailwindcss";

body {
  @apply bg-[#0e1117] text-[#f0f0f0] font-[Tahoma] p-8;
}
@layer components {
  .coin-card {
    @apply bg-[#161b22] p-6 shadow-2xl shadow-[#0000004d] rounded-xl;
  }
}
